
.key-letter {
  background-color: grey;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
}



.key-number {
  background-color: red;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
}


.key-pressed {
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
}

.key-single {
  background-color: blue;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
}

.key-double {
  background-color: red;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
}

.key-double-alt {
  background-color: red;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
}



.grid {
  background-color: white;
  display: grid;
  height: 500px;
  width: 1400px;
  border: solid black 5px;
}
.row-1 {
  display: grid;
  height: 100px;
  width: 1400px;
  grid-template-columns: repeat(13, 2fr) 3fr;
}

.row-2 {
  display: grid;
  height: 100px;
  width: 1400px;
  grid-template-columns: 3fr repeat(13, 2fr);

}
.row-3 {
  display: grid;
  height: 100px;
  width: 1400px;
  grid-template-columns: 2fr repeat(11, 1fr) 2fr;
}
.row-4 {
  display: grid;
  height: 100px;
  width: 1400px;
  grid-template-columns: 5fr repeat(10, 2fr) 5fr;
}
.row-5 {
  display: grid;
  height: 100px;
  width: 1400px;
  grid-template-columns: repeat(3, 1fr) 4fr repeat(4, 1fr);
}
